{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Nueva Materia Prima</h3>
                </div>
                <div class="box-body">
                    <form action="{% url 'raw_material_create_action' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <label>Referencia</label>
                            <input type="text" name="ref" class="form-control"
                                   placeholder="Referencia..." required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Entrada a Materia Prima</label>
                            <input type="date" name="in_mp_date"
                                   class="form-control"
                                   required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Calibre (mm)</label>
                            <input type="number" name="caliber_mp"
                                   class="form-control" step="0.01"
                                   min="0" placeholder="Calibre..."
                                   required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Largo (mts)</label>
                            <input type="number" name="large_mp"
                                   class="form-control" step="0.01"
                                   min="0" placeholder="Largo..." required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Ancho (mts)</label>
                            <input type="number" name="anch_mp"
                                   class="form-control" step="0.01"
                                   min="0" placeholder="Ancho..." required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Costo Lamina</label>
                            <input type="number" name="price"
                                   class="form-control" step="0.01"
                                   min="0" placeholder="Costo lamina..."
                                   required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Acabado</label>
                            <input type="text" name="acabado"
                                   class="form-control"
                                   placeholder="Acabado"
                                   required>
                        </div>
                        <div class="form-group col-md-12">
                            <a href="{% url 'raw_material' %}"
                               class="btn btn-default">
                                Cancelar
                            </a>
                            <button type="submit"
                                    class="btn btn-primary pull-right">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}