{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <h3>Materia Prima</h3>
        <div class="col-md-12">
            {% if materials %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>REFERENCIA</th>
                            <th>PRECIO</th>
                            <th>CALIBRE</th>
                            <th>LARGO</th>
                            <th>ANCHO</th>
                            <th>FECHA ENTRADA ALMACEN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in materials %}
                            <tr>
                                <td>{{ m.id }}</td>
                                <td>{{ m.refefrence }}</td>
                                <td>{{ m.price_lm }}</td>
                                <td>{{ m.large_mp }}</td>
                                <td>{{ m.anch_mp }}</td>
                                <td>{{ m.in_mp</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span class="label label-warning">
                    No se ha registrado materia prima en el sistema.
                </span>
            {% endif %}
        </div>
    </div>

{% endblock %}