{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" style="overflow: auto;">
                <div class="box-header">
                    <h3 class="box-title">Registros en Stock</h3>
                </div>
                <div class="box-body">
                    {% if stock %}
                        <table class="chasas_table_border table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>REFERENCIA</th>
                                <th>FECHA ENTRADA MP</th>
                                <th>CALIBRE (mm)</th>
                                <th>LARGO (mts)</th>
                                <th>ANCHO (mts)</th>
                                <th>COSTO LAMINA</th>
                                <th>FECHA ENTRADA ALMACENAMIENTO</th>
                                <th>CALIBRE (mm)</th>
                                <th>LARGO (mts)</th>
                                <th>ANCHO (mts)</th>
                                <th>ACABADO</th>
                                <th>ZONA</th>
                                <th>DISPONIBILIDAD</th>
                                <th>COSTO STOCK</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pr in stock %}
                                {% if pr.product.status == 0 %}
                                    <tr style="background-color: #9bf39b;">
                                        {% else %}
                                    <tr style="background-color: #f2b5b5;">
                                {% endif %}
                            <td>{{ pr.product.id|default:"--" }}</td>
                            <td>{{ pr.product.reference|default:"--" }}</td>
                            <td>{{ pr.product.in_mp|default:"--" }}</td>
                            <td>{{ pr.product.caliber_mp|default:"--" }}</td>
                            <td>{{ pr.product.large_mp|default:"--" }}</td>
                            <td>{{ pr.product.anch_mp|default:"--" }}</td>
                            <td>${{ pr.product.price_lm|default:"--" }}</td>
                            <td>{{ pr.stock.in_stock|default:"--" }}</td>
                            <td>{{ pr.product.caliber_mp|default:"--" }}</td>
                            <td>{{ pr.stock.large_stock|default:"--" }}</td>
                            <td>{{ pr.stock.anch_stock|default:"--" }}</td>
                            <td>{{ pr.product.acabado|default:"--" }}</td>
                            <td>{{ pr.stock.area|default:"--" }}</td>
                            <td>{{ pr.stock.state|default:"--" }}</td>
                            <td>${{ pr.product.price_lm|default:"--" }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% else %}
                        <span class="label label-warning">
        No hay registro de Stock en el sistema.
    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}