{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Proyectos</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'projects_create_form' %}"
                           class="btn btn-default">
                            <i class="fa fa-plus"></i> Nuevo Proyecto
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    {% if projects %}
                        <table class="chasas_table_border table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>EMPRESA</th>
                                <th>NIT EMPRESA
                                <th>TIPO PRODUCTO</th>
                                <th>FECHA INICIO</th>
                                <th>ESTADO</th>
                                <th>GESTION</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in projects %}
                                {% if p.state == 2 %}
                                    <tr style="background-color: #9bf39b;">
                                        {% elif p.state == 3 %}
                                    <tr style="background-color: #f2b5b5;">
                                        {% else %}
                                    <tr>
                                {% endif %}
                            <td>{{ p.id }}</td>
                            <td>{{ p.client.name }}</td>
                            <td>{{ p.client.nit }}</td>
                            <td>
                                {% if p.type_product.name %}
                                    {{ p.type_product.name }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {% if p.init_date %}
                                    {{ p.init_date }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {% if p.state == 0 %}
                                    <span class="label label-primary">
                                        <i class="fa fa-newspaper-o"></i> Nuevo
                                    </span>
                                {% elif p.state == 1 %}
                                    <span class="label label-info">
                                        <i class="fa fa-server"></i> Iniciado
                                    </span>
                                {% elif p.state == 2 %}
                                    <span class="label label-success">
                                        <i class="fa fa-check"></i> Finalizado
                                    </span>
                                {% elif p.state == 3 %}
                                    <span class="label label-danger">
                                        <i class="fa fa-close"></i> Cancelado
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'projects_details' pr_pk=p.id %}"
                                   class="btn btn-primary"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="Detalles">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <span class="label label-warning">No se han registrado proyectos.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}