{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3>Detalles del Proyecto</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'project_manager' pr_pk=project.id %}" class="btn btn-default">
                            <i class="fa fa-list-alt"></i> Gestion del Proyecto
                        </a>
                        {% if project.state < 2 %}
                            <button class="btn btn-default" data-toggle="modal"
                                    data-target="#modalAddState">
                                <i class="fa fa-cube"></i> Estado
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <th>Cliente</th>
                            <th>Nit</th>
                            <th>Fecha Inicio</th>
                            <th>Proyecto</th>
                        </tr>
                        <tr>
                            <td>{{ project.client.name }}</td>
                            <td>{{ project.client.nit }}</td>
                            <td>{{ project.init_date }}</td>
                            <td>{{ project.id }}</td>
                        </tr>
                        <tr>
                            <th colspan="4">Requerimientos Iniciales</th>
                        </tr>
                        <tr>
                            <td colspan="4">{{ project.init_requirements }}</td>
                        </tr>
                        <tr>
                            <th colspan="4">Diseño Preliminar</th>
                        </tr>
                        <tr>
                            <td><img src="{{ project.init_design.url }}"
                                     style="width: 50%;"></td>
                        </tr>
                        {% if project.final_requirements %}
                            <tr>
                                <th colspan="4">Requerimientos FInales</th>
                            </tr>
                            <tr>
                                <td colspan="4">{{ project.final_requirements }}</td>
                            </tr>
                            <tr>
                                <th colspan="4">Diseño Final</th>
                            </tr>
                            <tr>
                                <td><img src="{{ project.final_design.url }}"
                                         style="width: 50%;">
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <hr/>
                    <h3>MATERIALES</h3>
                    <hr/>
                    {% if quotation %}
                        <a href="{% url 'projects_quotation_create' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">
                            Administrar Materiales
                        </a>
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Material</th>
                                <th>Valor Uni</th>
                                <th>Cantidad</th>
                                <th>Valor Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prq in products_quotation %}
                                <tr>
                                    <td>{{ prq.product.reference }}</td>
                                    <td>${{ prq.product.price_lm }}</td>
                                    <td>{{ prq.quantity }}</td>
                                    <td>${{ prq.total }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>TOTAL</th>
                                <td>${{ quotation.price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <a href="{% url 'projects_quotation_create' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">
                            Crear Cotización
                        </a>
                    {% endif %}

                    <hr/>
                    <h3>Mano de obra</h3>
                    <hr/>
                    {% if personal_project %}
                        <a href="{% url 'project_personal' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">
                            Administrar Personal
                        </a>
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <td>Proceso</td>
                                <td>Especialidad</td>
                                <td>Costo Horas</td>
                                <td>Horas Trabajadas</td>
                                <td>Total</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for px in personal_project %}
                                <tr>
                                    <td>{{ px.process }}</td>
                                    <td>{{ px.specialty }}</td>
                                    <td>${{ px.hour_price }}</td>
                                    <td>{{ px.hour_work }}</td>
                                    <td>${{ px.total_price }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>TOTAL</th>
                                <td>${{ project.personal }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <a href="{% url 'project_personal' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">
                            Agrear Personal
                        </a>
                    {% endif %}

                    <hr/>
                    <h3>Servicios Externos</h3>
                    <hr/>
                    {% if external_services %}
                        <a href="{% url 'project_external_services' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">Administrar
                            Servicios</a>
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <td>Proceso</td>
                                <td>Valor Unit</td>
                                <td>Cantidad</td>
                                <td>Precio Total</td>
                            </tr>
                            </thead>
                            <tbody id="exs_add">
                            {% for exs in external_services %}
                                <tr>
                                    <td>{{ exs.process }}</td>
                                    <td>${{ exs.unit_price }}</td>
                                    <td>{{ exs.quantity }}</td>
                                    <td>${{ exs.total_price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <a href="{% url 'project_external_services' pr_pk=project.id %}"
                           class="btn btn-primary pull-right">
                            Agrear Servicios</a>
                    {% endif %}

                    <hr/>
                    <h3>Liquidación</h3>
                    <hr/>
                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <th>MATERIALES</th>
                            <td>${{ project.materials }}</td>
                        </tr>
                        <tr>
                            <th>COSTOS PERSONAL</th>
                            <td>${{ project.personal }}</td>
                        </tr>
                        <tr>
                            <th>COSTOS MAQUINARIA E INSUMOS</th>
                            <td>${{ project.supplies }}</td>
                        </tr>
                        <tr>
                            <th>SUBTOTAL</th>
                            <td>${{ project.sub_total }}</td>
                        </tr>
                        <tr>
                            <th>GANANCIA</th>
                            <td>${{ project.gain }}</td>
                        </tr>
                        <tr>
                            <th>TOTAL PARCIAL</th>
                            <td>${{ project.pre_total }}</td>
                        </tr>
                        <tr>
                            <th>RETENCION</th>
                            <td>${{ project.retention }}</td>
                        </tr>
                        <tr>
                            <th>RIESGO BIOLOGICO</th>
                            <td>${{ project.risk_b }}</td>
                        </tr>
                        <tr>
                            <th>DESCUENTO CONTABILIDAD</th>
                            <td>${{ project.discount }}</td>
                        </tr>
                        <tr>
                            <th>SEGURO</th>
                            <td>${{ project.secure }}</td>
                        </tr>
                        <tr>
                            <th>COMISION</th>
                            <td>${{ project.commission }}</td>
                        </tr>
                        <tr>
                            <th>IMPREVISTOS</th>
                            <td>${{ project.unforeseen }}</td>
                        </tr>
                        <tr>
                            <th>DESCUENTO NEGOCIABLE</th>
                            <td>${{ project.discount_opc }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAddState" tabindex="-1" role="dialog"
         aria-labelledby="modalAddStateLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAddStateLabel">
                        Estado del Proyecto</h4>
                </div>
                <form action="{% url 'projects_update_state' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Estado: </label>
                                <select class="form-control"
                                        id="state" name="state">
                                    <option value="1">Iniciado</option>
                                    <option value="2">Finalizado</option>
                                    <option value="3">Cancelado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="pr_pk" value="{{ project.id }}">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Cerrar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}