{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Tomar Materia Prima</h3>
                </div>
                <div class="box-body">
                    <form action="{% url 'operator_stock_update_action' %}"
                          method="post" id="">
                        {% csrf_token %}
                        <input type="hidden" name="pk" id="pk" value="">
                        <div class="form-group">
                            <label>Seleccione un material:</label>
                            {% if materials %}
                                <select class="form-control" name="product"
                                        id="product"
                                        onchange="selectedMaterial()" required>
                                    <option value="">
                                        - Seleccione una referencia -
                                    </option>
                                    {% for m in materials %}
                                        <option value="{{ m.id }}/{{ m.caliber_mp }}/{{ m.large_mp }}/{{ m.anch_mp }}/{{ m.reference }}">
                                            {{ m.reference }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <span class="label label-warning">
                                No hay materiales disponibles en materia prima.
                            </span>
                            {% endif %}

                        </div>
                        <hr>
                        <div class="col-md-12" id="info_p"
                             style="display: none;">
                            <div class="form-group col-md-6">
                                <label>Calibre</label>
                                <input type="number" name="caliber" id="caliber" step="0.01"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Largo</label>
                                <input type="number" name="large" id="large" step="0.01"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ancho</label>
                                <input type="number" name="ancho" id="ancho" step="0.01"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Acabado</label>
                                <input type="text" name="acabado" id="acabado"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Area</label>
                                <input type="text" name="area" id="area"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Fecha Ingreso Almacen</label>
                                <input type="date" name="date" id="date"
                                       class="form-control" value="" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Zona</label>
                                <input type="text" name="zone" id="zone"
                                       class="form-control" value="" required readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Disponibilidad</label>
                                <select class="form-control" name="state"
                                        id="state" required>
                                    <option value="Utilizado">Utilizado</option>
                                    <option value="Disponible">Disponible
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <a href="{% url 'stock_operator' %}" class="btn btn-default">
                                    <i class="fa fa-close"></i> Cancelar
                                </a>
                                <button type="button" onclick="validateZone()"
                                        class="btn btn-primary pull-right">
                                    <i class="fa fa-send"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        function selectedMaterial() {
            var ref = $("#product").val();
            if (ref) {
                var data = ref.split('/');
                $("#pk").val(data[0]);
                $("#caliber").val(data[1]);
                $("#large").val(data[2]);
                $("#ancho").val(data[3]);
                $("#info_p").removeAttr('style');
            } else {
                $("#info_p").attr('style', 'display: none;');
                $("#pk").val('');
                $("#caliber").val('');
                $("#large").val('');
                $("#ancho").val('');
                $("#acabado").val('');
                $("#area").val('');
                $("#date").val('');
                $("#date").val('');
            }
        }

        function validateZone(){
            var large = $("#large").val();
            var anch = $("#ancho").val();
            var pro = $("#product").val().split('/')[4];
            var zone = '';
            switch (pro) {
                case 'LA-AI-201':
                    if(large >= 0.45 && anch <= 1.52){
                        zone = 'Zona A';
                    }else if(large >= 0.23 && anch <= 0.76){
                        zone = 'Zona B';
                    }else if(large >= 0.15 && anch <= 0.51){
                        zone = 'Zona C';
                    }else if(large >= 0.11 && anch <= 0.38){
                        zone = 'Zona D';
                    }
                    break;
                case 'LA-AI-204':
                    if(large >= 0.61 && anch == 1.22){
                        zone = 'Zona A';
                    }else if(large >= 0.30 && anch <= 0.61){
                        zone = 'Zona B';
                    }else if(large >= 0.20 && anch <= 0.41){
                        zone = 'Zona C';
                    }else if(large >= 0.15 && anch <= 0.31){
                        zone = 'Zona D';
                    }
                    break;
                case 'LA-AI-301':
                    if(large >= 0.61 && anch <= 1.52){
                        zone = 'Zona A';
                    }else if(large >= 0.30 && anch <= 0.76){
                        zone = 'Zona B';
                    }else if(large >= 0.20 && anch <= 0.51){
                        zone = 'Zona C';
                    }else if(large >= 0.15 && anch <= 0.38){
                        zone = 'Zona D';
                    }
                    break;
                case 'LA-AI-304':
                    if(large >= 0.76 && anch <= 1.52){
                        zone = 'Zona A';
                    }else if(large >= 0.38 && anch <= 0.76){
                        zone = 'Zona B';
                    }else if(large >= 0.25 && anch <= 0.51){
                        zone = 'Zona C';
                    }else if(large >= 0.19 && anch <= 0.38){
                        zone = 'Zona D';
                    }
                    break;
                case 'LA-AI-304L':
                    if(large >= 0.76 && anch <= 1.83){
                        zone = 'Zona A';
                    }else if(large >= 0.38 && anch <= 0.92){
                        zone = 'Zona B';
                    }else if(large >= 0.25 && anch <= 0.61){
                        zone = 'Zona C';
                    }else if(large >= 0.19 && anch <= 0.46){
                        zone = 'Zona D';
                    }
                    break;
                case 'LA-AI-430':
                    if(large >= 0.76 && anch <= 3.05){
                        zone = 'Zona A';
                    }else if(large >= 0.38 && anch <= 1.52){
                        zone = 'Zona B';
                    }else if(large >= 0.25 && anch <= 1.02){
                        zone = 'Zona C';
                    }else if(large >= 0.19 && anch <= 0.76){
                        zone = 'Zona D';
                    }
                    break;
                default:
                    zone = "Zona A";

            }

            if(zone){
                $("#zone").val(zone);

            }

        }

    </script>

{% endblock %}